@layer base {
  html {
    @apply font-sans bg-slate-50 text-slate-900;
  }

  abbr:hover {	
	  @apply cursor-help;
  }

  blockquote {
    padding: 1.5rem;
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3);
  }
}
